.row{
    background-color:  rgb(35, 38, 134);
}
footer{
    color: rgb(15, 245, 168);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999 ;
}