.row{
    padding: 30px;
    background-color:  rgb(35, 38, 134);

}
div{
      background-color:  rgb(35, 38, 134);
    text-align: left;
    color: rgb(15, 245, 168);
}
#color{
    color: #011012;
}

.progress-bar{
    background-color: rgba(207, 91, 94);
}
.progress{
    height: 30px;
    width: 100%;

}