.row{
    padding: 20px;
    background-color:  rgb(35, 38, 134);

}
div{
    background-color:  rgb(35, 38, 134);
    text-align: left;
    color: rgb(15, 245, 168);
}
#color{
    color: #011012;
}
#colorC{
    color: rgba(207, 91, 94);
}
#estilo{
    font-family: 'Source Code Pro', monospace;

}